<?xml version="1.0" encoding="utf-8"?>
<!--
此文件由 Web 项目的发布/打包过程使用。可以通过编辑此 MSBuild 文件
自定义此过程的行为。为了解与此相关的更多内容，请访问 https://go.microsoft.com/fwlink/?LinkID=208121。 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/86afc430-abed-4a18-9c2a-bca7e7c69144/resourcegroups/father/providers/Microsoft.Web/sites/WebApplication120220717110543</ResourceId>
    <ResourceGroup>father</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webapplication120220717110543.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>1367077b-1fb6-4eec-a751-d91d3d709912</ProjectGuid>
    <PublishUrl>https://webapplication120220717110543.scm.azurewebsites.net/</PublishUrl>
    <UserName>$WebApplication120220717110543</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>